* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 10px;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Lucida Console", Monaco, Roboto;
    
}

button {
    height: 60px;
    width: 70px;
    margin: 10px;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 1px 2px;
    background-color: white;
}
button:hover {
    background-color: lightpink;
}

.header {
    background-color: aqua;
    height: 100px;
    border-bottom: 2px;
    border-style: solid;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: gray;
    height: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator { /*this is the actual frame of calculator */
    background-color: lightcoral;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    border: 2px;
    border-color: black;
    border-style: ridge;
    box-shadow: 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    
}

.calcNameDiv {
    height: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.calcNumberDiv {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.buttonsFrameDiv {
    flex: 1;
    background-color: lightgray;
    margin: 20px;
    border-radius: 20px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.calculate { /*THIS IS THE = BUTTON */ 
    width: 250px;
}


.calcNumberScreen {
    height: 70px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcNumberInput {
    height: 70px;
    width: 450px;
    padding-right: 10px;
    text-align: right;
    font-size: 50px;
    font-family: "Lucida Console", Monaco, Roboto;
    border-radius: 20px;
}

.calcNumberInput:disabled {
    cursor: default;
    color: black;
    background-color: white;
}



.footer {
    background-color: black;
    height: 60px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gitLink:hover {
    transform: scale(1.3);
}


.footerPara {
    color: aliceblue;
}